:root {
  --font-sans:
    "v-sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Microsoft YaHei", sans-serif;
  --font-mono:
    "v-mono", SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace;

  font-family: var(--font-sans);
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
}

.n-drawer {
  max-width: 100vw;
}

@media (max-width: 768px) {
  .n-drawer {
    width: 90vw !important;
  }
}
